extends main.pug

block script
  script(src="js/docs.js")
  
block nav
  .hidden.md_flex.justify-start.items-center.mx-1
    a.h-1x.w-1x.text-solstice.fill-current.items-center.hover_text-grey-darker.mr-1(href=site.repo, target="_blank")
      include ../assets/icons/github.svg

  .md_hidden.flex.justify-start.items-center.mx-2
    button.custom-toggle-nav.text-solstice.items-center.hover_text-grey-darker.focus_outline-none
      svg.align-text-bottom.navigation-open.h-1x.w-1x.fill-current(role="button", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 20 20")
        path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
      svg.align-text-bottom.navigation-close.hidden.h-1x.w-1x.fill-current(role="button", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 20 20")
        path(d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z")
            
block content
  .bgtb-moon-white-pure.relative
    .md_flex.max-w-lg.m-auto
      .navigation-sidebar.sticky.top-0.top-3.h-100vh-3.overflow-y-auto.hidden.md_block.bg-white.pl-1
        // Adding subsections from markdown
        .pt-2.w-5.m-auto.sm_flex.sm_w-90.md_block.md_w-100
          each category in sidebar
            .flcnw.flspa.sm_flex-auto.sm_w-33.sm_p-1.md_w-100.md_p-0
              .category.text-nebula.poppins.uppercase.mb-05x.text-1x=category.title
              ul.mb-2
                each page in category.pages
                  - var isCurrent = current.url === page.url
                  - var additionalClasses = isCurrent ? 'current-page text-nebula' : 'text-solstice'
                  li
                    a.block.py-0x(href=page.url, class=additionalClasses)=page.title
                    - var hasSubLinks = (page.headings && page.headings.length)
                    if hasSubLinks
                      ul.pl-1.text-1
                        each heading in page.headings
                          li
                            a.block.py-0x.text-telluric(href=`${page.url}#${heading.anchor}`)=heading.title

      .documentation-content.text-2.pt-2.pb-1.px-2.w_100.md_w-75
        .md_hidden.mb-1
          a(href=site.url) DocSearch
          span &nbsp;>&nbsp;
          a(href=`${site.url}/what-is-docsearch.html`) Documentation
        h1.custom-main-title.text-5.lg_text-7.uppercase.tracking-poppins.text-solstice.bold.mb-2=current.title
        !=current.content
        
        // Include the apply form
        if current.includeForm
          .mt-2
            include ../_includes/apply-form.pug

        .my-3.italic
          a(href=current.src) Edit this page
