<!DOCTYPE html>
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %base{href:(app.config[:stage] == 'production' ? 'https://community.algolia.com/docsearch/': '/')}

    %title
      - if current_page.data.title
        = current_page.data.title
      = app_data.config.title
    %meta{name: 'description', content: 'site.description'}>

    %meta{name: 'twitter:card', content: 'summary_large_image'}
    %meta{name: 'twitter:site', content: "#{ app_data.config.twitter_username }"}
    %meta{name: 'twitter:title', content: "#{ app_data.config.tagline }"}
    %meta{name: 'twitter:description', content: "#{ app_data.config.description }"}
    %meta{name: 'twitter:image:src', content: "#{ app_data.config.card_image }"}
    %meta{name: 'twitter:domain', content: 'community.algolia.com'}
    %meta{name: 'twitter:label1', content: 'Speed'}
    %meta{name: 'twitter:data1', content: 'Blazing Fast ⚡⚡⚡'}
    %meta{name: 'twitter:label2', content: 'Price'}
    %meta{name: 'twitter:data2', content: 'FREE!'}

    %meta{property: 'og:title', content: "#{ app_data.config.tagline }"}
    %meta{property: 'og:site_name', content: 'Algolia Community'}
    %meta{property: 'og:url', content: 'https://community.algolia.com/docsearch/'}
    %meta{property: 'og:description', content: "#{ app_data.config.description }"}
    %meta{property: 'og:image', content: "#{ app_data.config.card_image }"}
    %meta{property: 'og:locale', content: 'en_US'}
    %meta{property: 'og:type', content: 'website'}

    <!--[if IE]>
    %link{rel: 'shortcut icon', href: '/assets/images/favicon.png'}
    <![endif]-->

    %link{rel: 'icon', href: 'assets/images/favicon.png'}
    %link{rel: 'stylesheet', media: 'screen', href: 'assets/stylesheets/main.css'}
    %link{rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css'}

  - classes = current_page.destination_path.include?('documentation') ? 'documentation': ''
  %body{class: "#{classes} #{current_page.data.title}"}

    = partial 'partials/header.html'
    = yield

    - if current_page.data.noFooter.nil?
      = partial 'partials/footer'

    %script{src: '//cdn.jsdelivr.net/jquery/2.1/jquery.min.js'}
    %script{src: 'assets/javascripts/communityHeader.js'}
    %script{src: 'assets/javascripts/main.js'}
    :javascript
      var a = new communityHeader({
        apiKey: '25626fae796133dc1e734c6bcaaeac3c',
        indexName: 'docsearch',
        inputSelector: '#searchbox',
        autocompleteOptions: {
          debug: false
        }
      },"lazy");

    = partial 'partials/marketing'
