= wrap_layout :default do
  %aside.pos-fix.w100p.m300.hfull.fill-white.p-t-large.b-r.fill-athens-gray.p-l-xlarge
    - sitemap_tree.from_url('documentation').get_children.each do |dir|
      %h3
        = unslug(dir.get_url_part)
      %ul.list-none.no-margin.no-padding
        - dir.get_children.each do |file|
          %li
            %a{href: file.get_final_url}
              = file.get_val.metadata[:page][:title]


  .container.main-content.w100p.documentation
    %header.page-header.m800.p-l-xlarge.p-t-xlarge
      %h1.page-title
        = current_page.data.title
    %article.page-content.m800.p-l-xlarge
      = yield
    .spacer80
